@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
}

.material-preview {
  background-image: url(../../public/images/meterial-bg.png);
}
.slick-slide {
  max-width: 232px;
}


.slick-track {
  display: flex !important;
  justify-content: space-between;
}
