@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
}

.material-preview {
  background-image: url(../../public/images/meterial-bg.png);
}
.slick-slide {
  max-width: 232px;
}

.slick-track {
  display: flex !important;
  justify-content: space-between;
}

a {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding: 10px 15px 10px 10px;
  position: relative;
  text-decoration: none;
}

.slick-prev:before,
.slick-next:before {
  border-bottom-style: solid;
  border-bottom-width: 5px;
  border-right-style: solid;
  border-right-width: 5px;
  content: "" !important;
  display: inline-block;
  height: 32px;
  position: absolute;
  top: 0;
  width: 32px;
}
.slick-prev:before {
  left: -30px;
  transform: rotate(136deg) !important;
}
.slick-next:before {
  left: 30px;
  transform: rotate(-47deg) !important;
}
