@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.mainStepper {
    padding: 41px 24px !important;
    width: 100%;
    max-width: 672px;
    margin: 0 auto;
}

.mainStepper .StepContainer-0-2-2 .StepMain-0-2-3 button {
    width: 23px;
    height: 23px;
    position: relative;
    background-color: white;
}

.mainStepper .StepContainer-0-2-2 {
    padding: 0;
}

.mainStepper .StepContainer-0-2-2 .StepMain-0-2-3 button.completed {
    background: #70C23E;
}

.mainStepper .StepContainer-0-2-2 .StepMain-0-2-3 button.active-stepper {
    background: #70C23E;
}

.mainStepper .StepContainer-0-2-2 .StepMain-0-2-3 button.active-stepper::before {
    content: "";
    position: absolute;
    margin: auto;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: white;
}


.mainStepper .StepContainer-0-2-2 .StepMain-0-2-3 button span {
    display: none;
}

.mainStepper .StepContainer-0-2-2 .StepMain-0-2-3 .LabelContainer-0-2-10 span {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    font-family: "Roboto", sans-serif;
    color: white;
    margin-top: 9px;
}

.mainStepper .ConnectorContainer-0-2-20 {
    top: calc(1em - 5px);
    left: calc(-58% + 2em - -6px);
    right: calc(50% + 2em - 6px);
}

.mainStepper .ConnectorContainer-0-2-20 .Connector-0-2-21 {
    border-color: white;
}

.more-data-scroll {
    /* background: linear-gradient(360deg, rgb(255 255 255 / 3%) 0%, #ffffff 100%); */
    background: linear-gradient(360deg, rgba(217, 217, 217, 0) 0%, #9d9d9d 100%);
    height: 123px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    rotate: 180deg;
    opacity: 0.7;
}

.cabinet-fadeIn {
    opacity: 1;
}

.cabinet-fadeOut {
    opacity: 0;
}

.stepper-detail-dropdown .list-hide {
    max-height: 0;
    transition: 0.2s all ease-out;
    overflow: hidden;
    margin-top: 0px;
}

.stepper-detail-dropdown .list-show {
    max-height: 168px;
    transition: 0.2s all ease-in;
    overflow: auto;
}

/* @media (max-height: 1000px) {
    .cardsContainer {
        height: 400px;
    }
}

@media (max-height: 880px) {
    .cardsContainer {
        height: 300px;
    }
}

@media (max-height: 740px) {
    .cardsContainer {
        height: 200px;
    }
} */